.chats
  .header
    .left-header
      .left-header__title
        グループ名
      %ul.left-header__members
        Member：
        %li.member
          メンバー名
    .right-header
      .right-header__button
        = link_to "Edit", edit_group_path(params[:group_id]), method: :get do
  .messages
    = render @messages

  .form
    %form
      %input.form_message
      .form_mask
        %label.form_mask_image
          = fa_icon 'picture-o', class: 'icon'
          %input.hidden{type: 'file'}
      %input.form_submit{type: 'submit', value: 'Send'}
