.notification {
  .notice {
    background-color: #0000ff ;
    color: #fafafa;
    text-align: center;
  }

  .alert {
    background-color: #ff8c00;
    color: #fafafa;
    text-align: center;
  }
}