.side_bar{
  float:rigth;
  .header {
    background-color: #253141;
    color: #ffffff;
    width:300px;
    height: 110px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      
      font-weight: bold;
    }
    &__lists {
      color: #ffffff;
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: #ffffff;
        
      }
    }
  }

  .groups {
    overflow: scroll;
    background-color: #363e49;
    color: #fff;
    width: 300px;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color:#fff;
      }
      &__message {
        margin-top: 5px;
        color:#fff;
      }
    }
  }
}